body, h1, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 28px;
}


.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: green;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: white;
}